extends ./layout.pug

block content

    include components/flash.pug

    if offre
      h2 Offre #{offre.title}
    else
      h2 Création d'une nouvelle offre

    if !editMode
        <a class="fr-btn fr-btn--sm fr-btn--tertiary fr-ml-1w fr-btn--icon-left fr-icon-edit-box-line" href="/admin/offres/#{offre.id}/edit">Modifier</a>

    if offre
      <form action="/admin/offres/#{offre.id}" method="POST">
    else
      <form action="/admin/offre" method="POST">
    <fieldset class="fr-fieldset fr-mt-2w" aria-label="Offre" aria-describedby="name-1-fieldset-messages">
        <div class="fr-fieldset__element">
            <div class="fr-input-group">
                if offre
                  <label class="fr-label" for="input-partenaire-1">Partenaire</label>
                  <span class="fr-text--sm" id="input-partenaire-1"><a href="/admin/partenaires/#{offre.partenaire.id}">#{offre.partenaire.name}</a></span>
                else
                  <div class="fr-select-group">
                      <label class="fr-label" for="input-partenaire">Partenaire</label>
                      <select class="fr-select" id="input-partenaire" name="partenaireId">
                          each partenaire in partenaires
                              option(value=partenaire.id, selected= partenaireId && partenaire.id == partenaireId) #{partenaire.name}
                      </select>
                  </div>
            </div>
            div(class=error && error_fields.includes('title') ? "fr-input-group fr-input-group--error" : "fr-input-group")
                <label class="fr-label" for="input-title-1">Titre</label>
                if editMode
                    input(class=error && error_fields.includes('title') ? "fr-input fr-input--error" : "fr-input" spellcheck="true" name="title" id="input-title-1" type="text" value=offre ? offre.title : '')
                    if error && error_fields.includes('title')
                        <p id="text-input-error-desc-error" class="fr-error-text">Le titre doit comporter entre 3 et 200 caractères.</p>
                else
                    <span class="fr-text--sm">#{offre.title}</span>
            <div class="fr-input-group">
                if editMode
                    <div class="fr-select-group">
                        <label class="fr-label" for="input-type">Type</label>
                        <select class="fr-select" id="input-type" name="type">
                            each val, index in enumLabels.type
                                option(value=index, selected= offre && index == offre.type) #{val}
                        </select>
                    </div>
                else
                    <label class="fr-label" for="input-categories-1">Type</label>
                    <span class="fr-text--sm">#{formatEnum('type', offre.type)}</span>
            </div>
            <div class="fr-input-group">
                if editMode
                    <div class="fr-select-group">
                        <label class="fr-label" for="input-categories">Catégorie</label>
                        <select class="fr-select" id="input-categories" name="categories">
                            each val, index in enumLabels.categories
                                option(value=index, selected= offre && index == offre.categories) #{val}
                        </select>
                    </div>
                else
                    <label class="fr-label" for="input-categories-1">Catégorie</label>
                    <span class="fr-text--sm">#{formatEnum('categories', offre.categories)}</span>
            </div>
            <div class="fr-input-group">
                if editMode
                    <div class="fr-select-group">
                        <label class="fr-label" for="input-echelle">&Eacute;chelle</label>
                        <select class="fr-select" id="input-echelle" name="echelle">
                            each val, index in enumLabels.echelle
                                option(value=index, selected= offre && index == offre.echelle) #{val}
                        </select>
                    </div>
                else
                    <label class="fr-label" for="input-echelle-1">&Eacute;chelle</label>
                    <span class="fr-text--sm">#{formatEnum('echelle',offre.echelle)}</span>
            </div>

            div(class=error && error_fields.includes('location') ? "fr-input-group fr-input-group--error" : "fr-input-group")
                <label class="fr-label" for="input-location-1">Localisation</label>
                if editMode
                    input(class=error && error_fields.includes('location') ? "fr-input fr-input--error" : "fr-input" spellcheck="false" name="location" id="input-location-1" type="text" value=offre && offre.location ? `${offre.location.coordinates[0]}},${offre.location.coordinates[1]}` : '')
                    if error && error_fields.includes('location')
                        <p id="text-input-error-desc-error" class="fr-error-text">La localisation doit être au format: lat,lng</p>
                else
                if offre && offre.location
                  <script src="http://www.openlayers.org/api/OpenLayers.js"></script>
                      <script>document.addEventListener("DOMContentLoaded", function(event) { map = new OpenLayers.Map("mapdiv");map.addLayer(new OpenLayers.Layer.OSM());var lonLat = new OpenLayers.LonLat(#{offre.location.coordinates[1]}, #{offre.location.coordinates[0]}).transform(new OpenLayers.Projection("EPSG:4326"),map.getProjectionObject());var zoom=6;var markers = new OpenLayers.Layer.Markers( "Markers" ); map.addLayer(markers);markers.addMarker(new OpenLayers.Marker(lonLat));map.setCenter (lonLat, zoom);});</script>
                      <div id="mapdiv" style="width:400px; height:400px;"></div>
            <div class="fr-input-group">

                if editMode
                    <div class="fr-select-group">
                        <label class="fr-label" for="input-modaliteUtilisation">Modalité d'utilisation</label>
                        <select class="fr-select" id="input-modaliteUtilisation" name="modaliteUtilisation">
                            each val, index in enumLabels.modaliteUtilisation
                                option(value=index, selected= offre && index == offre.modaliteUtilisation) #{val}
                        </select>
                    </div>
                else
                    <label class="fr-label" for="input-modaliteUtilisation-1">Modalité d'utilisation</label>
                    <span class="fr-text--sm">#{formatEnum('modaliteUtilisation', offre.modaliteUtilisation)}</span>
            </div>

            <div class="fr-input-group">
                if editMode
                    <div class="fr-checkbox-group">
                        if offre && offre.bonPlan
                            <input type="checkbox" id="bonPlan" name="bonPlan" checked>
                        else
                            <input type="checkbox" id="bonPlan" name="bonPlan">
                        <label class="fr-label" for="bonPlan">Bon plan</label>
                    </div>
                else if offre.bonPlan
                    <span class="fr-text--sm fr-icon-checkbox-circle-fill">Bon plan</span>
            </div>
        </div>
    </fieldset>

        if editMode
            <ul class="fr-btns-group fr-btns-group--inline-md">
                <li>
                  if offre
                    <input type="submit" class="fr-btn" value="Mettre à jour" />
                  else
                    <input type="submit" class="fr-btn" value="Créer l'offre" />
                </li>
                if offre
                  <li>
                    <button type="button" class="fr-btn" data-fr-opened="false" aria-controls="fr-modal-2">Supprimer</button>

                    <dialog aria-labelledby="fr-modal-2-title" id="fr-modal-2" class="fr-modal" role="dialog" >
                        <div class="fr-container fr-container--fluid fr-container-md">
                            <div class="fr-grid-row fr-grid-row--center">
                                <div class="fr-col-12 fr-col-md-8 fr-col-lg-6">
                                    <div class="fr-modal__body">
                                        <div class="fr-modal__header">
                                            <button type="button" type="button" class="fr-link--close fr-link" aria-controls="fr-modal-2">Fermer</button>
                                        </div>
                                        <div class="fr-modal__content">
                                            <h1 id="fr-modal-2-title" class="fr-modal__title">
                                                <span class="fr-fi-arrow-right-line fr-fi--lg"></span> Suppression de l'offre
                                            </h1>
                                            <p>Vous êtes sur le point de supprimer l'offre. Cette action est irréversible.</p>
                                        </div>
                                        <div class="fr-modal__footer">
                                            <ul class="fr-btns-group fr-btns-group--right fr-btns-group--inline-reverse fr-btns-group--inline-lg fr-btns-group--icon-left">
                                                <li>
                                                    <button type="button" type="button" class="fr-btn fr-btn--primary" aria-controls="fr-modal-2">Annuler</button>
                                                </li>
                                                <li>
                                                    <a class="fr-btn fr-btn--secondary" href="/admin/offres/#{offre.id}/delete">Supprimer</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </dialog>
                  </li>
                <li>
                  if offre
                    <a class="fr-btn fr-btn--secondary" href="/admin/offres/#{offre.id}">Annuler</a>
                  else
                    <a class="fr-btn fr-btn--secondary" href="/admin/offres">Annuler</a>
                </li>
            </ul>
    </form>
