extends ./layout.pug

block content
  <div class="fr-table">
    <table>
      <caption>Liste des offres</caption>
      <thead>
        <tr>
          <th scope="col">Titre</th><th scope="col">Type</th><th scope="col">Partenaire</th><th scope="col">Catégorie</th><th scope="col">Échelle</th><th scope="col">Localisation</th><th scope="col">Modalité d'utilisation</th><th scope="col">Bon plan</th>
        </tr>
      </thead>
      <tbody>
      each offre in items.data
        <tr>
          <td><a href="/admin/offres/#{offre.id}">#{offre.title}</a></td>
          <td>#{offre.type}</td>
          <td><a href="/admin/partenaires/#{offre.partenaire.id}">#{offre.partenaire.name}</a></td>
          <td>#{formatEnum('categories', offre.categories)}</td>
          <td>#{formatEnum('echelle',offre.echelle)}</td>
          <td>
            if offre.location
              <a href="https://www.openstreetmap.org/search?query=#{offre.location.coordinates[0]},#{offre.location.coordinates[1]}"">Ouvrir sur la carte</a>
          </td>
          <td>#{formatEnum('modaliteUtilisation', offre.modaliteUtilisation)}</td>
          <td>#{formatOuiNon(offre.bonPlan)}</td>
        </tr>
      </tbody>
    </table>
  </div>
