extends ./layout.pug

block content

  include components/flash.pug

  if partenaires.data.length > 0
    <div class="fr-table">
      <table>
        <caption class="fr-mb-2w">Liste des partenaires <a class="fr-btn fr-btn--sm fr-btn--tertiary fr-ml-1w fr-btn--icon-left fr-icon-add-circle-fill" href="/admin/partenaire/create">Créer un partenaire</a></caption>
        <thead>
          <tr>
            <th scope="col">Illustration</th><th scope="col">Nom</th><th scope="col">Description</th><th scope="col">Lien</th>
          </tr>
        </thead>
        <tbody>
        each partenaire in partenaires.data
          <tr>
            <td><img width="100px" src="https://cellar-fr-north-hds-c1.services.clever-cloud.com/images-pej/prestataires/#{partenaire.id}.png" /></td>
            <td><a href="/admin/partenaires/#{partenaire.id}">#{partenaire.name}</a></td>
            <td>#{partenaire.description}</td>
            <td><a href="#{partenaire.url}">#{partenaire.url}</a></td>
          </tr>
        </tbody>
      </table>
  else
    h3 Liste des partenaires
    span Pas de partenaire pour le moment
    <a class="fr-btn fr-btn--sm fr-btn--tertiary fr-ml-1w fr-btn--icon-left fr-icon-add-circle-fill" href="/admin/partenaire/create">Créer le premier partenaire</a>
