extends ./layout.pug

block content
  <div class="fr-table">
    <table>
      <caption>Liste des partenaires</caption>
      <thead>
        <tr>
          <th scope="col">Illustration</th><th scope="col">Nom</th><th scope="col">Description</th><th scope="col">Lien</th>
        </tr>
      </thead>
      <tbody>
      each partenaire in partenaires.data
        <tr>
          <td><img width="100px" src="https://cellar-fr-north-hds-c1.services.clever-cloud.com/images-pej/prestataires/#{partenaire.id}.png" /></td>
          <td><a href="/admin/partenaires/#{partenaire.id}">#{partenaire.name}</a></td>
          <td>#{partenaire.description}</td>
          <td><a href="#{partenaire.url}">#{partenaire.url}</a></td>
        </tr>
      </tbody>
    </table>

