extends ./layout.pug

block content

    if success
        <div class="fr-alert fr-alert--success fr-alert--sm">
            <h3 class="fr-alert__title">Mise à jour avec succès</h3>
            <button class="fr-link--close fr-link" onclick="const alert = this.parentNode; alert.parentNode.removeChild(alert)">Masquer le message</button>
        </div>

    if partenaire != null
        h2 Partenaire #{partenaire.name}
            if !editMode
                <a class="fr-btn fr-btn--sm fr-btn--tertiary fr-ml-1w fr-btn--icon-left fr-icon-edit-box-line" href="/admin/partenaires/#{partenaire.id}/edit">Modifier</a>
                <div><img width="100px" src="https://cellar-fr-north-hds-c1.services.clever-cloud.com/images-pej/prestataires/#{partenaire.id}.png" /></div>
    else
        h2 Création d'un nouveau partenaire

    if partenaire
        <form action="/admin/partenaires/#{partenaire.id}" method="POST">
    else 
        <form action="/admin/partenaire" method="POST">
    <fieldset class="fr-fieldset fr-mt-2w" aria-label="Partenaire" aria-describedby="name-1-fieldset-messages">
        <div class="fr-fieldset__element">
            <div class="fr-input-group">
                <label class="fr-label" for="input-name-1">Nom</label>
                if editMode
                    <input class="fr-input" spellcheck="false" name="name" id="input-name-1" type="text" value="#{partenaire != null ? partenaire.name : ''}">
                else
                    <span class="fr-text--sm">#{partenaire.name}</span>
            </div>
            <div class="fr-input-group">
                <label class="fr-label" for="input-description-1">Description</label>
                if editMode
                    <textarea class="fr-input" spellcheck="true" name="description" id="input-description-1" type="text">#{partenaire != null ? partenaire.description : ''}</textarea>
                else
                    <p class="fr-text--sm">#{partenaire.description}</p>
            </div>
            <div class="fr-input-group">
                <label class="fr-label" for="input-url-1">Lien</label>
                if editMode
                    <input class="fr-input" spellcheck="true" name="url" id="input-url-1" type="text" value="#{partenaire != null ? partenaire.url : ''}" />
                else
                    <p class="fr-text--sm">#{partenaire.url}</p>
            </div>
        </div>
    </fieldset>

    if editMode
        <ul class="fr-btns-group fr-btns-group--inline-md">
            <li>
                if partenaire
                    <input type="submit" class="fr-btn" value="Mettre à jour" />
                else 
                    <input type="submit" class="fr-btn" value="Créer le partenaire" />
            </li>
            if partenaire
                <li>
                    <button type="button" class="fr-btn" data-fr-opened="false" aria-controls="fr-modal-2">Supprimer</button>

                    <dialog aria-labelledby="fr-modal-2-title" id="fr-modal-2" class="fr-modal" role="dialog" >
                        <div class="fr-container fr-container--fluid fr-container-md">
                            <div class="fr-grid-row fr-grid-row--center">
                                <div class="fr-col-12 fr-col-md-8 fr-col-lg-6">
                                    <div class="fr-modal__body">
                                        <div class="fr-modal__header">
                                            <button type="button" type="button" class="fr-link--close fr-link" aria-controls="fr-modal-2">Fermer</button>
                                        </div>
                                        <div class="fr-modal__content">
                                            <h1 id="fr-modal-2-title" class="fr-modal__title">
                                                <span class="fr-fi-arrow-right-line fr-fi--lg"></span> Suppression de le partenaire
                                            </h1>
                                            <p>Vous êtes sur le point de supprimer le partenaire. Les offres associées à ce partenaire seront également supprimées. Cette action est irréversible.</p>
                                        </div>
                                        <div class="fr-modal__footer">
                                            <ul class="fr-btns-group fr-btns-group--right fr-btns-group--inline-reverse fr-btns-group--inline-lg fr-btns-group--icon-left">
                                                <li>
                                                    <button type="button" type="button" class="fr-btn fr-btn--primary" aria-controls="fr-modal-2">Annuler</button>
                                                </li>
                                                <li>
                                                    <a class="fr-btn fr-btn--secondary" href="/admin/partenaires/#{partenaire.id}/delete">Supprimer</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </dialog>
                </li>
            <li>
                if partenaire
                    <a class="fr-btn fr-btn--secondary" href="/admin/partenaires/#{partenaire.id}">Annuler</a>
                else
                    <a class="fr-btn fr-btn--secondary" href="/admin/partenaires">Annuler</a>
            </li>
        </ul>
    </form>

    if !editMode

        if partenaire.offres.length > 0
            <div class="fr-table">
                <table>
                    <caption class="fr-mb-2w">Liste des offres <a class="fr-btn fr-btn--sm fr-btn--tertiary fr-ml-1w fr-btn--icon-left fr-icon-add-circle-fill" href="/admin/offre/create?partenaireId=#{partenaire.id}">Créer une offre</a></caption>
                    <thead>
                        <tr>
                            <th scope="col">Titre</th><th scope="col">Type</th><th scope="col">Catégorie</th><th scope="col">Échelle</th><th scope="col">Localisation</th><th scope="col">Modalité d'utilisation</th><th scope="col">Bon plan</th>
                        </tr>
                    </thead>
                    <tbody>
                        each offre in partenaire.offres
                            <tr>
                                <td><a href="/admin/offres/#{offre.id}">#{offre.title}</a></td>
                                <td>#{offre.type}</td>
                                <td>#{formatEnum('categories', offre.categories)}</td>
                                <td>#{formatEnum('echelle',offre.echelle)}</td>
                                <td>
                                if offre.location
                                    <a href="https://www.openstreetmap.org/search?query=#{offre.location.coordinates[0]},#{offre.location.coordinates[1]}"">Ouvrir sur la carte</a>
                                </td>
                                <td>#{formatEnum('modaliteUtilisation', offre.modaliteUtilisation)}</td>
                                <td>#{formatOuiNon(offre.bonPlan)}</td>
                            </tr>
                    </tbody>
                </table>
            </div>
        else 
            h3 Liste des offres
            span Pas d'offres pour le moment  <a class="fr-btn fr-btn--sm fr-btn--tertiary fr-ml-1w fr-btn--icon-left fr-icon-add-circle-fill" href="/admin/offre/create?partenaireId=#{partenaire.id}">Créer la première offre</a>
